
<h1>Modificalo how it work</h1>

 <div class=" text-center">

<h1>¿Cómo funciona?</h1>
</div>

<br><br>
<div class=" text-center">
<p>Crearmy es una plataforma que permite conectar a los creativos de diferentes áreas en un solo lugar.</p>

<p> Si eres un creativo, inscríbete. Escoge el área o las áreas de tu trabajo creativo y agrega tu portafolio de (Behance, Vimeo, Flickr o Soundcloud), responde las preguntas.</p>
<p> Después de crear tu perfil podrás conectarte con otros creativos o recibir propuestas de trabajo de personas o empresas que buscan creativos</p>
</div>

<br><br><br>

<div class=" text-center">

<h1>Aliados</h1>
</div>
<br><br>

<div class="row">
   <div class="col-sm-6 col-md-3">
      <a href="http://www.fionarecords.com" class="thumbnail" target="_blank">
         <img src="http://fionarecords.com/wp-content/uploads/2015/03/2014-08-24_-_VersionesIdentificador_Fiona-05-1.png" 
         alt="Generic placeholder thumbnail"/>
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="http://worldtechmakers.com/" class="thumbnail" target="_blank">
         <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/arquetipos-final.jpgM_zpskz9mmfed.jpg" 
         alt="Generic placeholder thumbnail"/>
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="http://www.tarefa.co/" class="thumbnail" target="_blank">
         <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/Screen%20Shot%202015-03-18%20at%2019.28.32_zpsv4ax1cap.png" alt="Generic placeholder thumbnail"/>
      </a>
   </div>
   <div class="col-sm-6 col-md-3">
      <a href="#" class="thumbnail">
         <img src="/bootstrap/images/kittens.jpg" 
         alt="Generic placeholder thumbnail">
      </a>
   </div>
</div>