
 <div id="home">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <h1>CREARMY</h1>
                    <h2>Tu mundo creativo </h2>
                    <p class="p-cls">
                    </p>
                </div>

            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
<section id="services">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">¿Cómo funciona?</h2>
                    <p>
              
                    </p>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-recycle  fa-5x"></i>
                    <h4 class="head-set">REGÍSTRATE</h4>
                    <p>
                      Crea tu perfil en Crearmy
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-desktop  fa-5x"></i>
                    <h4 class="head-set">CONÉCTATE</h4>
                    <p>Conecta tu perfil con tu portafolio online de Behance, Vimeo, Soundcloud o Flickr.     
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <i class="fa fa-bolt  fa-5x"></i>
                    <h4 class="head-set">CREA</h4>
                    <p>
                        Conéctate con otros creativos, recibe propuestas de proyectos y CREA!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--SERVICES SECTION END  -->

    <div class="parallax-like">
        <div class="overlay">


            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <strong>1300+</strong>
                            <p>
                                Projects
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div>
                            <strong>100+</strong>
                            <p>
                                Locations
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 ">
                        <div>
                            <strong>5000+</strong>
                            <p>
                                Employees
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--PARALLAX LIKE / STATS SECTION END  -->

<section id="works">
        <div class="container">
            <div class="row text-center pad-bottom">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">OUR WORKS</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
            </div>
            <div class="row text-center portfolio-item">

                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-info">
                        <img src="http://images.all-free-download.com/images/graphiclarge/series_of_black_and_white_design_elements_vector_4_simple_pattern_151618.jpg" class="img-responsive " alt=""/>

                        <h3>DISEÑO GRÁFICO</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-danger">
                        <img src="http://upload.wikimedia.org/wikipedia/en/1/14/Albert_Gleizes,_1912,_Les_Baigneuses,_oil_on_canvas,_105_x_171_cm,_Paris,_Mus%C3%A9e_d'Art_Moderne_de_la_Ville_de_Paris_(black_and_white).jpg" class="img-responsive" alt=""/>

                        <h3>ARTE/ILUSTRACIÓN</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-success">
                        <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/31H_zpste6qzuok.png" class="img-responsive" alt=""/>

                        <h3> FOTO Y VIDEO</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>

                  <div class="col-xs-6 col-sm-3">
                    <div class="alert alert-success">
                        <img src="http://i172.photobucket.com/albums/w40/nicolecadosch/photo%202_zpsbh2injnn.jpg" class="img-responsive" alt=""/>

                        <h3> MÚSICA Y AUDIO</h3>
                        <h5><a href="#"><strong>Click Here</strong> </a>to go to the project</h5>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--WORKS / PORTFOLIO SECTION END  -->

    <div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=Ycv5fNd4AeM',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">
        <!-- change https://www.youtube.com/watch?v=Ycv5fNd4AeM to your youtube url-->
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>HERE IS BACKGROUND VEDIO</h1>
                        <h4>This scripts uses plugin <strong>jquery.mb.YTPlayer</strong>

                        </h4>
                        <h4>to play video in background of divs

                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- VIDEO SECTION END-->


<section id="contact">
        <div class="container">
            <div class="row text-center ">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                    <h2 class="head-set">CONTÁCTANOS</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                    <br />
                </div>
            </div>
            <div class="row text-center">


                <div class="col-md-12">
                    <h3>Bogotá, Colombia</h3>
                    <h3> +57- 6111111</h3>
                    <h3><strong>Email :</strong> info@crearmy.com</h3>

                </div>

            </div>
        </div>
    </section>
    <!-- CONTACT SECTION END-->
    <section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/audio.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="assets/img/codecanon.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="assets/img/graphic.png" alt="" class="img-responsive" />
            </div>
            <div class="col-md-3">
                <img src="assets/img/themeforest.png" alt="" class="img-responsive" />
            </div>
        </div>

    </div>
        </section>
    <!-- CLIENTS SECTION END-->


