


<div class="jumbotron">
  <h1>hola mundo</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="jumbotron">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>
</div>

<div class="jumbotron">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://images.all-free-download.com/images/graphiclarge/series_of_black_and_white_design_elements_vector_4_simple_pattern_151618.jpg" alt="...">
      <p>GRÁFICO</P>
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://upload.wikimedia.org/wikipedia/en/1/14/Albert_Gleizes,_1912,_Les_Baigneuses,_oil_on_canvas,_105_x_171_cm,_Paris,_Mus%C3%A9e_d'Art_Moderne_de_la_Ville_de_Paris_(black_and_white).jpg" alt="...">
      <P>VISUAL</p>
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQncOBi5HQwExLiOrlRZEKYong2kkL12_U7bVn8OXjQPKXbFCppkg" alt="...">
    <p> AUDIOVISUAL </P>
    </a>
  </div>
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTDq4Qwf9VtmLIhCgFFi3K4f3sjiR_RmsZnnNlngDjW0BfMei1N" alt="...">
      <p>AUDIO</p>
    </a>
  </div>

</div>

</div>

<div class="blurb bright">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h3>¿Quién eres?</h3>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2><i class="icon-chevron-left"></i> CREATIVO</h2></div>
         <div class="panel-body text-center">Crearmy te permite conectarte con la comunidad creativa en un solo lugar. <hr>
          <button class="btn btn-lg btn-primary btn-block">Sign Up</button> 
          </div>
         </div>
  </div>
    <div class="col-sm-4">
         <div class="panel panel-default">
         <div class="panel-heading text-center"><h2>EMPRESA <i class="icon-chevron-right"></i></h2></div>
         <div class="panel-body text-center"> Cuéntanos sobre tu proyecto y contrata en un solo lugar a todo el talento que necesitas para tus proyectos creativos.<hr>
          <button class="btn btn-lg btn-primary btn-block">Sign Up</button> 
           
          </div>
         </div>
  </div>
</div>

 <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>Crearmy es la mejor red social para creativos.</p>
        </div>
        <div class="col-lg-4">
          <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href=""><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-tumblr"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Our Bunker</h4>
          <div class="hline-w"></div>
          <p>
            Some Ave, 987,<br/>
            23890, New York,<br/>
            United States.<br/>
          </p>
        </div>
      
      </div><! --/row -->
    </div><! --/container -->
   </div><! --/footerwrap -->



